@page "/"

    <title>Mike On a Bike</title>
<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-2">
            <div class="circle">
                <img src="images/mike.png" alt="Mike On a Bike">
            </div>
        </div>
        <div class="col-1">&nbsp;</div>
        <div class="col-9">
            <h2>Fundraising to Honor Vic Rosenthal</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-1">&nbsp;</div>
        <div class="col-9">
            <p></p>
            <h5>
                Follow my journey (<strong>#MikeonaBike2023</strong> on Instagram) as I cycle
                the perimeter of Minnesota, starting 3 July, in honor of my friend
                Vic Rosenthal. Vic led <a href="https://www.jewishcommunityaction.org/" target="_blank">Jewish Community Action</a> for 17 years,
                spearheading initiatives such as the Minnesota marriage
                amendment, fair housing in Minneapolis, and fighting for workers’
                rights in Iowa. His death this spring leaves a legacy of community
                organizing rooted in deep, enduring relationships.
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-2">&nbsp;</div>
        <div class="col-1">&nbsp;</div>
        <div class="col-9">
            <p></p>
            <h5>
                It was my joy to call Vic both mentor and friend. I plan to ride
                through every county in Minnesota that touches the state’s
                border; that’s 1,500 miles! The money I raise in Vic’s honor goes
                to JCA and to Pillars Beyond Hospice where Vic spent the last
                few weeks of his life. To donate to either organization go to the
                <a href="https://secure.everyaction.com/slwvQqNf3ES-Zo1eo14P5Q2" target="_blank">Jewish Community Action</a>
                and/or <a href="https://crm.bloomerang.co/HostedDonation?ApiKey=pub_ea99c055-55c9-11eb-ba71-0686663776c3&WidgetId=4880384" target="_blank">The Pillars Hospice</a> websites.
            </h5>
        </div>
    </div>
    <div class="row">
        <div class="col-2">&nbsp;</div>
        <div class="col-1">&nbsp;</div>
        <div class="col-9">
            <p></p>
            <h5>
                For more information contact me at: <a href="mailto:mikebike@finaltouch.com">mikebike@finaltouch.com</a>
            </h5>
        </div>
    </div>
</div>
