@page "/"

<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Mike On A Bike</h1>
            <h2 class="text-center">Fundraising Ride to Honor Vic Rosenthal</h2>
        </div>
    </div>
    <MediaQuery Media="@Breakpoints.LargeUp">
        <Unmatched>
            <div class="row">
                <div class="col-12 d-flex justify-content-center">
                    <div class="circle">
                        <img src="images/mike.png" alt="Mike On a Bike">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p></p>
                    <h5>
                        Follow my journey (<strong>#MikeonaBike2023</strong> on Instagram) as I cycle
                        the perimeter of Minnesota, starting 3 July, in honor of my friend
                        Vic Rosenthal. Vic led <a href="https://www.jewishcommunityaction.org/" target="_blank">Jewish Community Action</a> for 17 years,
                        spearheading initiatives such as the Minnesota marriage
                        amendment, fair housing in Minneapolis, and fighting for workers’
                        rights in Iowa. His death this spring leaves a legacy of community
                        organizing rooted in deep, enduring relationships.
                    </h5>
                    <p></p>
                    <h5>
                        It was my joy to call Vic both mentor and friend. I plan to ride
                        through every county in Minnesota that touches the state’s
                        border; that’s 1,500 miles! The money I raise in Vic’s honor goes
                        to <b>JCA</b> and to <b>Pillars Beyond Hospice</b> where Vic spent the last
                        few weeks of his life. To donate to either organization go to:
                    </h5>
                    <p>
                        <button class="btn btn-primary" @onclick="LinktoJCA">Jewish Community Action</button>
                        <button class="btn btn-primary" @onclick="LinktoPillars">The Pillars Hospice</button>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <p></p>
                    <h5>
                        For more information contact me at: <a href="mailto:michaelckuhne@gmail.com">michaelckuhne@gmail.com</a>
                    </h5>
                </div>
            </div>
        </Unmatched>
        <Matched>
            <div class="row">
                <div class="col-4">
                    <div class="circle">
                        <img src="images/mike.png" alt="Mike On a Bike">
                    </div>
                </div>
                <div class="col-1">&nbsp;</div>
                <div class="col-7">
                    <p></p>
                    <h5>
                        Follow my journey (<strong>#MikeonaBike2023</strong> on Instagram) as I cycle
                        the perimeter of Minnesota, starting 3 July, in honor of my friend
                        Vic Rosenthal. Vic led <a href="https://www.jewishcommunityaction.org/" target="_blank">Jewish Community Action</a> for 17 years,
                        spearheading initiatives such as the Minnesota marriage
                        amendment, fair housing in Minneapolis, and fighting for workers’
                        rights in Iowa. His death this spring leaves a legacy of community
                        organizing rooted in deep, enduring relationships.
                    </h5>
                    <p></p>
                    <h5>
                        It was my joy to call Vic both mentor and friend. I plan to ride
                        through every county in Minnesota that touches the state’s
                        border; that’s 1,500 miles! The money I raise in Vic’s honor goes
                        to <b>JCA</b> and to <b>Pillars Beyond Hospice</b> where Vic spent the last
                        few weeks of his life. To donate to either organization go to:
                    </h5>
                    <p>
                        <button class="btn btn-primary" @onclick="LinktoJCA">Jewish Community Action</button>
                        <button class="btn btn-primary" @onclick="LinktoPillars">The Pillars Hospice</button>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-4">&nbsp;</div>
                <div class="col-1">&nbsp;</div>
                <div class="col-7">
                    <p></p>
                    <h5>
                        For more information contact me at: <a href="mailto:michaelckuhne@gmail.com">michaelckuhne@gmail.com</a>
                    </h5>
                </div>
            </div>
        </Matched>
    </MediaQuery>
</div>
