name: Deploy to GitHub Pages
on:
  push:
    branches: [ master ]
jobs:
  deploy-to-github-pages:
    # use ubuntu-latest image to run steps on
    runs-on: ubuntu-latest
    steps:
    # Set the name of the repo in env variable
    - name: Set the name of the repo in env variable
      run: echo "REPO_NAME=${{ github.event.repository.name }}" >> $GITHUB_ENV
    # uses GitHub's checkout action to checkout code form the master branch
    - uses: actions/checkout@v2
    # sets up .NET Core SDK 8.0
    - name: Setup .NET Core SDK
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '8.0.x'
    # Publish Blazor project to the release-folder
    - name: Publish .NET Core Project
      run: dotnet publish MikeBike/Server/MikeBike.Server.csproj -c Release -o release --nologo
    # Changes the base-tag in index.html from '/' to GitHub Pages repository subdirectory name
    - name: Change base-tag in index.html from / to MikeBike
      run: sed -i 's/<base href="\/" \/>/<base href="\/${{ env.REPO_NAME }}\/" \/>/g' release/wwwroot/index.html
    # Add .nojekyll file to tell GitHub pages to not treat this as a Jekyll project. (Allow files and folders starting with an underscore)
    - name: Add .nojekyll file
      run: touch release/wwwroot/.nojekyll    
    # Commit wwwroot to GitHub Pages
    - name: Commit wwwroot to GitHub Pages
      uses: JamesIves/github-pages-deploy-action@v4.4.2
      with:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        BRANCH: gh-pages
        FOLDER: release/wwwroot
